<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button (click)="sidenav.toggle()" title="显示/隐藏菜单">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/">
    spring-angular-material
  </a>
  <span fxFlex></span>
  <span>{{principal?.name}}</span>
  <a mat-button (click)="logout()">
    注销
  </a>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'" [fixedInViewport]="isScreenSmall()"
    fixedTopGap="92">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
