@import 'src/theme.scss';

$sidenav-spacing-unit: 8px;
$sidenav-width: 240px;

:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  padding-bottom: 72px;
  width: $sidenav-width;
  bottom: 0;
  overflow: auto;
  height: 100%;

  &.mat-sidenav-opened {
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  }
}

mat-sidenav-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 8px;

  // The rule will match the element following the router-outlet which will be the routed component.
  router-outlet + * {
    flex-grow: 1;
  }
}

@media (max-width: 720px) {
  mat-sidenav-container {
    flex: 1 0 auto;
  }
}
