@import 'src/theme.scss';

:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: mat-color($app-primary);
}


.login-content {
  //
}
mat-card {
  max-width: 400px;
}

.full-width-input {
  width: 100%;
}
