<mat-nav-list>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>dashboard</mat-icon>
    <a matLine routerLink="/dashboard">仪表盘</a>
  </mat-list-item>
  <h3 mat-subheader>抓取设置</h3>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>track_changes</mat-icon>
    <a matLine routerLink="/crawler">爬虫配置</a>
  </mat-list-item>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>schedule</mat-icon>
    <a matLine routerLink="/scheduler">任务配置</a>
  </mat-list-item>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>timeline</mat-icon>
    <a matLine routerLink="/monitor">任务监控</a>
  </mat-list-item>
  <h3 mat-subheader>自然语言处理</h3>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>local_library</mat-icon>
    <a matLine routerLink="/dict">词库管理</a>
  </mat-list-item>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>tune</mat-icon>
    <a matLine routerLink="/segment">分词</a>
  </mat-list-item>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>label</mat-icon>
    <a matLine routerLink="/tags">标签提取</a>
  </mat-list-item>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>face</mat-icon>
    <a matLine routerLink="/sentiment">情感分析</a>
  </mat-list-item>
  <h3 mat-subheader>个人设置</h3>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>lock</mat-icon>
    <a matLine routerLink="/password">修改密码</a>
  </mat-list-item>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>person</mat-icon>
    <a matLine routerLink="/profile">用户信息</a>
  </mat-list-item>

  <h3 mat-subheader>系统管理</h3>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>people</mat-icon>
    <a matLine routerLink="/users">用户管理</a>
  </mat-list-item>
  <mat-list-item routerLinkActive="active">
    <mat-icon matListIcon>settings</mat-icon>
    <a matLine routerLink="/settings">系统设置</a>
  </mat-list-item>
</mat-nav-list>
